.about {
   width: 100%;
   max-width: $maxWidth;
   min-height: 750px;
   background-image: url(../svgicons/pattern.png);
   padding: 100px 75px;

}

.about h2 {
   font-family: Yeseva One;
   font-size: 2rem;
   font-weight: 400;
   color: $mustard;
   margin-bottom: 1.5rem;
}

.about p {
   margin: 1rem 0;
}

.about__contant {
   max-width: 1211px;
   max-height: 551px;
   margin: 0 auto;
   height: 100%;
   display: flex;
   justify-content: space-evenly;
   gap: 100px;
}

.left__contant {
   text-align: center;
}

.right__contant {}

.right__contant img {
   height: 100%;
}