.about {
   width: 100%;
   max-width: $maxWidth;
   min-height: 750px;
   background: linear-gradient(270deg, #F4F2F2 18.35%, #FFFFFF 84.09%);
   padding: 100px 75px;
   box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.1);
   position: relative;
}

.about::after {
   content: "";
   background: url(../img/pattern.png);
   opacity: 0.02;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   position: absolute;
   z-index: 2;
}

.about h2 {
   font-family: Yeseva One;
   font-size: 2rem;
   font-weight: 400;
   color: $mustard;
   margin-bottom: 1.5rem;
}

.about p {
   margin: 1rem 0;
}

.about__contant {
   max-width: 1211px;
   max-height: 551px;
   margin: 0 auto;
   height: 100%;
   display: flex;
   justify-content: space-evenly;
   gap: 100px;
}

.left__contant {
   text-align: center;
}

.right__contant {
   z-index: 10;
}

.right__contant img {
   height: 100%;

}