.about {
   background: linear-gradient(270deg, #F4F2F2 18.35%, #FFFFFF 84.09%);
   box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.1);
   position: relative;
}

.about::after {
   content: "";
   background: url(../img/pattern.png);
   opacity: 0.02;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   position: absolute;
   z-index: 2;
}

.about h2 {
   font-family: Yeseva One;
   font-size: 2rem;
   font-weight: 400;
   color: $mustard;
   margin-bottom: 1.5rem;
}

.about p {
   margin: 1rem 0;
}

.about__contant {
   max-width: rem(1211px);
   max-height: rem(551px);
   margin: 0 auto;
   height: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: space-evenly;
   gap: rem(100px);

   @include big {
      gap: rem(50px);
   }

   @include tablet {
      grid-template-columns: 1fr;
      gap: 0;
   }
}

.left__contant {
   text-align: center;

   @include tablet {
      width: rem(410px);
      grid-template-columns: 1fr;
      margin: 0 auto;

      & img {
         width: rem(290px);
         height: rem(290px);
      }

      & svg {
         width: rem(250px);
         height: rem(25px);
      }
   }
}

.right__contant {
   z-index: 10;

   & img {
      max-height: 100%;
   }

   @include big {
      & img {
         height: 70%;
      }
   }

   @include tablet {
      display: none;
   }
}