.footer {
   width: 100%;
   max-width: $maxWidth;
   min-height: rem(375px);
   background: #000000;
   opacity: 0.75;
   padding: 3.12rem 4.37rem;

   @include phone {
      min-height: initial;
      padding: 0 rem(20px);
   }
}

.footer__container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: rem(30px);
   min-height: rem(275px);

   @include phone {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      min-height: initial;
   }
}

.footer h3 {
   margin-bottom: 1.5rem;
   font-family: YesevaOne;
   font-size: 1.3rem;
   font-weight: 400;
   color: $white;

   @include phone {
      margin-top: rem(10px);
   }
}

.footer p {
   color: $white;
}

.footer span,
.adress__text {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 29px;
}

.footer__about,
.footer__timetable,
.footer__adress {
   text-align: center;
   display: grid;
   grid-template-rows: 1fr 2fr;
   gap: rem(55px);

   @include phone {
      grid-template-rows: 1fr 1fr;
      gap: rem(10px);
   }
}

.timetable__text {
   display: flex;
   flex-direction: column;
}


.text {
   flex: 1 0 auto;

   @include phone {
      flex: 0 0;
   }
}