.header {
   width: 100%;
   max-width: $maxWidth;
   min-height: 750px;
   background: url(../img/pic1.png) no-repeat;
}

// .header__content {}

.container {
   max-width: 1069px;
   margin: 0 auto;
   height: 100%;

   border: 1px solid rgba(0, 0, 0, 0);
}

h1 {
   font-family: YesevaOne;
   font-size: 5.62rem;
   font-weight: 400;
   color: $white;
   text-align: center;
   line-height: 100%;
   text-shadow: 2px 2px 0 #000;

}

.header__title {
   height: 187px;

   margin: 212px auto 0;
}

.header__icon {
   width: 250px;
   height: 50px;
   margin: 100px auto;
}

.btn {
   width: 13.625rem;
   height: 5rem;
   background-color: rgba(255, 255, 255, 0.651);
   text-align: center;
   color: $white;
   text-decoration: none;
   padding: 1.8rem;
   margin-bottom: 6.3rem;
}

.btn:hover {
   background-color: rgb(197, 197, 197);

}



.header__buttons {
   display: flex;
   justify-content: center;
   justify-items: center;
   align-content: center;
   gap: 2rem;
}