.ingradiens {
   background: url(../img/bg1.png) 0 0 no-repeat;
   display: flex;
   justify-content: right;
   color: $white;
}

.ingradiens__contant {
   max-width: rem(630px);
   height: 100%;
   min-height: rem(550px);
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #000000CC;

}

.ingradiens__contant h2 {
   font-family: Yeseva One;
   font-size: 2rem;
   font-weight: 400;
   margin: 3.12rem 0 2.5rem 0;
}

.ingradiens__contant p {
   margin: 1.6rem 5rem 3.12rem;
}

.ingradients__text {
   flex: 1 0 auto;
}

.ingradiens__icons {
   display: flex;
   gap: rem(28px);
   margin-bottom: 4.3rem;
}

.ingradiens__icon {
   width: rem(115px);
   height: rem(115px);
   border-radius: 50%;
   overflow: hidden;
   border: 5px solid #CC990080;
}

.ingradiens__icon img {
   height: 100%;
   object-fit: none;

}