.reviews {
   background-image: url(../img/bg2.png);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   color: $white;
   text-align: center;

   @include phone {
      height: auto;
   }
}

.reviews h2 {
   font-family: Yeseva One;
   font-size: 2rem;
   font-weight: 400;
   color: $white;
   margin: 4rem 0;
}

.reviews p {
   font-family: Gentium Book Basic;
   font-weight: bold;
   font-size: 1.5rem;
   line-height: 150%;
   margin: 4.37rem 5rem;

   @include phone {
      margin: 4.37rem 0;
   }
}

.reviews span {
   font-family: $fontFamily;
   font-weight: 400;
   font-size: 1.25rem;
   margin-top: 4.37rem;
}

.reviews__contant {
   max-width: rem(850px);
   height: 100%;
   min-height: rem(550px);
   background-color: #000000CC;
}