// @import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@700&display=swap');
@import "variables";
@import "global";
@import "header";
@import "about";
@import "ingradients";
@import "menu";
@import "reviews";
@import "reservation";
@import "footer";


* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: $fontFamily;
   font-weight: 400;
   font-size: 1rem;
   line-height: 150%;
   max-width: $maxWidth;
   margin: 0 auto;
}

.wrapper {
   position: relative;
}